* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
  }
  p {
    margin-top: 0;
  }
  h1 {
      text-align: center;
  }
  img {
    max-width: 100%;
  }
  .conteneur {
    max-width: 1000px;
    margin: 0 auto;
    border: 1px solid #c0c0c0;
    padding: 20px;
  }
  input,
  select,
  textarea {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #c0c0c0;
  }
  input,
  select {
    height: 30px;
  }
  .error {
      color: red;
  }
  form {
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    border: 1px solid #c0c0c0;
  }
  textarea {
    resize: vertical; /* vertical | horizontal | none*/
  }
  #valider {
      background-color: rgb(63, 220, 120);
  }